extends layout

block content
    div(class="container")
        div(class="row")
            ul(id="messages")
        div(id="input", class="row")
            form
                label(for="chat-input")
                input(class="ten columns", type="text", placeholder="Enter Message Here", id="chat-input")
                button(class="button-primary", type="submit") 
                    i(class="fa fa-arrow-right")

    
