extends layout

block content
    div(class="container")
        div(class="row")
            ul(id="messages")
        div(class="row")
            form
                label(for="chat-input")
                input(class="u-full-width", type="text", placeholder="Enter Message Here", id="chat-input")
                input(class="button-primary", type="submit", value="Send")

    
