extends layout

block content
    div(class="container")
        div(class="row")
            p(class="welcome") Welcome to #{title}
        div(class="row")
            div(id="welcome", class="four columns offset-by-four welcome")
                a(class="button button-primary", href="/chat") Enter
