doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            i(class="fa fa-comment")
            h1= title
            hr
        block content
        footer
            p footer
script(src="http://your-io-server/socket.io/socket.io.js")
