doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
script(src="http://your-io-server/socket.io/socket.io.js")
