doctype html
html
    head
        link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/image/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/image/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/image/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/image/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/image/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/image/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/image/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/image/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="/image/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/image/favicon-194x194.png", sizes="194x194")
        link(rel="icon", type="image/png", href="/image/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/image/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="/image/favicon-16x16.png", sizes="16x16")
        //- link(rel="manifest", href="/manifest.json")
        //- link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="apple-mobile-web-app-title", content="good as app")
        meta(name="application-name", content="good as app")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1(class="header") 
                i(class="fa fa-comment")
                | Welcome to #{title}!
            hr
        block content
        footer
            //- p footer
script(src='https://cdn.socket.io/socket.io-1.3.7.js')
script(src='https://code.jquery.com/jquery-1.11.1.js')
script(src='/javascripts/script.js')
