doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            p header
        block content
        footer
            p footer
script(src="http://your-io-server/socket.io/socket.io.js")
