body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.button{
    margin-left: 5px;
}
.welcome {
        text-align: center;
        font-size: 4vw;
}
li{
    list-style-type: none;
}
#input {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    /*width: 80%;*/
}
@media (max-width: 549px) {
    h1.header {
        text-align: center;
        font-size: 30px;
        }
    }
@media (max-width: 549px) {
    #chat-input {
        width: 70%;
        margin-left:5%;
    }
}
